<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div th:replace="header :: content"></div>
<form th:method="post" th:action="@{/admin/}" th:object="${user}">
    <label for="username">login</label>
    <input id="username" th:field="*{username}">
    <br/>
    <label for="password">password</label>
    <input type="password" id="password" th:field="*{password}">
    <br/>
    <label for="name">Имя</label>
    <input id="name" th:field="*{name}">
    <br/>
    <label for="age">Возраст</label>
    <input id="age" th:field="*{age}">
    <br/>
    <label for="roles">Выберете список ролей: </label>
    <select id="roles" class="form-control" th:field="*{roles}" multiple="multiple">
        <option th:each="role : ${roles}"
                th:field="*{roles}"
                th:value="${role.id}"
                th:text="${role.title}"
        >
        </option>
    </select>
<!--    <select multiple name="roles" id="roles">-->
<!--        <th:block th:each="role : ${roles}">-->
<!--            <option th:value="${role.getTitle()}" th:text="${role.getTitle()}"></option>-->
<!--        </th:block>-->
<!--    </select>-->
    <br/>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>