<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div th:replace="header :: content"></div>
<h1>Список ролей</h1>
<a th:href="@{/admin/roles/new}">Создать новую роль</a>
<hr/>
<ul th:each="role : ${roles}">
    <li>
        <form th:method="post" th:action="@{/admin/roles/update}" th:object="${role}">
            <input type="hidden" name="id" th:value="*{id}">
            <label for="title">Название</label> <input id="title" name="title" type="text" th:value="*{title}">
            <input type="submit" value="Сохранить">
        </form>

        <form th:method="post" th:action="@{/admin/roles/delete}" th:object="${role}">
            <input type="hidden" name="id" th:value="*{id}">
            <input type="submit" value="Удалить роль">
        </form>
    </li>
</ul>


</body>
</html>