<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/templates/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<section layout:fragment="custom-content">
    <h1>User information-page</h1>

    <div class="main_content__card card text-center">
        <div class="card-header">
            <h3>About user</h3>
        </div>
        <div id="userinfo-container" class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody id="userinfo-container__body">

                </tbody>
            </table>
        </div>
    </div>
    <script th:src="@{/scripts/user.js}"></script>
    <script th:inline="javascript">
        const email = '[(${user.email})]';
        window.addEventListener("load", () => {
            showUserDetail(document.getElementById("userinfo-container__body"), email)
        })
    </script>
</section>

</body>
</html>